@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap");

body {
  font-family: "Libre Baskerville", serif;
  color: white;
}

.categories ~ .categories-list {
  opacity: 0;
  z-index: -1;
  transition: opacity 500ms ease, z-index 500ms ease;
}
.categories:hover ~ .categories-list, .categories-list:hover {
  z-index: 1;
  opacity: 1;
}
.fade-in {
  animation: fade-in 1s forwards;
}
.fade-out {
  animation: fade-out 1s forwards;
}

.fadeX-in {
  animation: fadeX-in 900ms forwards;
}
.fadeX-out {
  animation: fadeX-out 900ms forwards;
}
@keyframes fadeX-in {
  0% {
    opacity: 0;
    translate: 100px 0px;
  }
  100% {
    opacity: 1;
    translate: 0px 0px;
  }
}
@keyframes fadeX-out {
  0% {
    opacity: 1;
    translate: 0px 0px;
  }
  100% {
    opacity: 0;
    translate: -100px 0px;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
    translate: 0px 100px;
  }

  100% {
    opacity: 1;
    translate: 0px 0px;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
    translate: 0px 0px;
  }

  100% {
    opacity: 0;
    translate: 0px -100px;
  }
}
